@font-face {
  font-family: 'Vollkorn Bold';
  src: url('../fonts/Vollkorn-Bold.eot');
  src: url('../fonts/Vollkorn-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/Vollkorn-Bold.woff2') format('woff2'), url('../fonts/Vollkorn-Bold.woff') format('woff'), url('../fonts/Vollkorn-Bold.ttf') format('truetype'), url('../fonts/Vollkorn-Bold.svg#Vollkorn-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Vollkorn';
  src: url('../fonts/Vollkorn-Regular.eot');
  src: url('../fonts/Vollkorn-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/Vollkorn-Regular.woff2') format('woff2'), url('../fonts/Vollkorn-Regular.woff') format('woff'), url('../fonts/Vollkorn-Regular.ttf') format('truetype'), url('../fonts/Vollkorn-Regular.svg#Vollkorn-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Cormorant Infant Rg';
  src: url('../fonts/Cormorant Infant/CormorantInfant-Regular.eot');
  src: url('../fonts/Cormorant Infant/CormorantInfant-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/Cormorant Infant/CormorantInfant-Regular.woff2') format('woff2'), url('../fonts/Cormorant Infant/CormorantInfant-Regular.woff') format('woff'), url('../fonts/Cormorant Infant/CormorantInfant-Regular.ttf') format('truetype'), url('../fonts/Cormorant Infant/CormorantInfant-Regular.svg#CormorantInfant-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Cormorant Infant SB';
  src: url('../fonts/Cormorant Infant/CormorantInfant-SemiBold.eot');
  src: url('../fonts/Cormorant Infant/CormorantInfant-SemiBold.eot?#iefix') format('embedded-opentype'), url('../fonts/Cormorant Infant/CormorantInfant-SemiBold.woff2') format('woff2'), url('../fonts/Cormorant Infant/CormorantInfant-SemiBold.woff') format('woff'), url('../fonts/Cormorant Infant/CormorantInfant-SemiBold.ttf') format('truetype'), url('../fonts/Cormorant Infant/CormorantInfant-SemiBold.svg#CormorantInfant-SemiBold') format('svg');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Cormorant Infant Bold';
  src: url('../fonts/Cormorant Infant/CormorantInfant-Bold.eot');
  src: url('../fonts/Cormorant Infant/CormorantInfant-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/Cormorant Infant/CormorantInfant-Bold.woff2') format('woff2'), url('../fonts/Cormorant Infant/CormorantInfant-Bold.woff') format('woff'), url('../fonts/Cormorant Infant/CormorantInfant-Bold.ttf') format('truetype'), url('../fonts/Cormorant Infant/CormorantInfant-Bold.svg#CormorantInfant-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}
/* желтый */
html {
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Times New Roman", serif;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  background-color: #1a172a;
}
img {
  max-width: 100%;
  height: auto;
}
a {
  font-family: 'Vollkorn', Garamond, serif;
  text-decoration: none;
}
a:focus,
button:focus {
  outline-color: #fdf30d;
  outline-width: 2px;
  outline-style: solid;
  outline-color: #68E5F7;
}
a:active,
button:active {
  outline: none;
}
.link {
  font-weight: bold;
  letter-spacing: 2px;
}
.link--reviews {
  color: #b26cc8;
}
.link--about {
  color: #ac657e;
}
.link--works-catalog {
  color: #95b97b;
}
.link:hover {
  text-decoration: underline;
}
.link--reviews:hover {
  color: #c24ee6;
}
.link--about:hover {
  color: #d04173;
}
.link--works-catalog:hover {
  color: #b3e668;
  cursor: pointer;
}
.visually-hidden:not(:focus):not(active),
input[type="checkbox"].visually-hidden,
input[type="checkbox"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* Для самого главного заголовка страницы, для h1 */
.title {
  margin: 24px 0;
  font-family: 'Cormorant Infant Rg', serif;
  font-size: 2rem;
  line-height: 1.5;
  text-align: center;
}
.section-header {
  margin: 0;
  margin-top: 48px;
  margin-bottom: 24px;
  font-family: 'Cormorant Infant Rg', serif;
  font-size: 1.5rem;
  line-height: 1.5;
  text-align: center;
}
.input {
  display: block;
  box-sizing: border-box;
  width: 300px;
  padding: 10px 15px;
  padding-right: 40px;
  font: inherit;
  color: #000000;
  /* background-color: @hover; */
  border: 2px solid #000000;
  border-radius: 4px;
}
.input__wrapper {
  margin: 24px 0;
}
.input__wrapper--flex {
  margin-top: 0;
}
.input__sign {
  display: block;
  width: 370px;
  margin: 0 auto;
  font-family: 'Vollkorn';
  font-size: 18px;
}
.input__sign--left {
  width: 365px;
  margin: 0;
  margin-right: auto;
}
.button {
  position: relative;
  box-sizing: border-box;
  padding: 10px 20px;
  font-size: 16px;
  color: #1a172a;
  background-color: transparent;
  transition: all 600ms cubic-bezier(0.77, 0, 0.175, 1);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.button:hover {
  color: #fdf30d;
  transition-delay: 0.6s;
  z-index: 20;
}
.button:before,
.button:after {
  box-sizing: border-box;
  content: '';
  position: absolute;
  z-index: -1;
  left: 0;
  height: 0;
  width: 100%;
  transition: inherit;
}
.button:before {
  top: 0;
  border: 1px solid #1a172a;
  border-top: 0;
  border-bottom: 0;
}
.button:after {
  bottom: 0;
  height: 0;
}
.button:hover:before,
.button:hover:after {
  height: 100%;
}
.button:hover::before {
  transition-delay: 0s;
}
.button:hover::after {
  background: #1a172a;
  transition-delay: 0.4s;
}
.checkbox {
  height: 0;
  width: 0;
  /* Чтобы не было видно родного чекбокса в FF */
  -ms-transform: scale(0);
  /* IE */
  -moz-transform: scale(0);
  /* FF */
  -webkit-transform: scale(0);
  /* Safari and Chrome */
  -o-transform: scale(0);
  /* Opera */
  padding: 10px;
}
.checkbox + .checkbox__name {
  position: relative;
  display: flex;
  margin: 0;
  align-items: center;
  color: #000000;
  transition: color 250ms cubic-bezier(0.4, 0, 0.23, 1);
  cursor: pointer;
}
.checkbox + .checkbox__name > .checkbox__indicator {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 14px;
  width: 20px;
  height: 20px;
  background: transparent;
  border: 2px solid #1a172a;
  border-radius: 2px;
  cursor: pointer;
  transition: all 250ms cubic-bezier(0.4, 0, 0.23, 1);
}
.checkbox + .checkbox__name:hover,
.checkbox:focus + .checkbox__name,
.checkbox:checked + .checkbox__name {
  color: #000000;
}
.checkbox + .checkbox__name:hover > .checkbox__indicator {
  background: rgba(0, 0, 0, 0.1);
}
.checkbox:checked + .checkbox__name > .checkbox__indicator {
  border: 2px solid #FFEB3B;
  -webkit-animation: shrink-bounce 200ms cubic-bezier(0.4, 0, 0.23, 1);
          animation: shrink-bounce 200ms cubic-bezier(0.4, 0, 0.23, 1);
}
.checkbox:checked + .checkbox__name > .checkbox__indicator:before {
  content: "";
  position: absolute;
  top: 8px;
  left: 7px;
  border-right: 3px solid transparent;
  border-bottom: 3px solid transparent;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transform-origin: 0% 100%;
          transform-origin: 0% 100%;
  -webkit-animation: checkbox-check 125ms 250ms cubic-bezier(0.4, 0, 0.23, 1) forwards;
          animation: checkbox-check 125ms 250ms cubic-bezier(0.4, 0, 0.23, 1) forwards;
}
.checkbox:disabled + .checkbox__name {
  color: #000000;
  opacity: 0.5;
}
.attention {
  margin: 0;
  padding: 10px;
  background-color: rgba(255, 0, 0, 0.2);
  border: 1px solid #dc656a;
  border-radius: 20px;
}
.attention__restriction {
  display: block;
  text-align: center;
}
.header-title {
  display: flex;
  flex-wrap: wrap;
}
.header-title__title {
  margin: 24px 0;
  flex-grow: 1;
  font-size: 1.2rem;
  font-weight: bold;
}
.header-title__link {
  font-family: "Times New Roman", serif;
  font-size: 1.2rem;
  font-weight: bold;
  line-height: 1.5;
  color: #1a172a;
}
.header-title__link:hover,
.header-title__link:focus,
.header-title__link:active {
  color: #6e63aa /* #8d84bc */;
}
.header-title__date {
  display: block;
  margin: 24px 0;
  font-style: italic;
  font-size: 14px;
  color: #000000;
}
.close {
  position: absolute;
  top: 0;
  right: -34px;
  width: 22px;
  height: 22px;
  font-size: 0;
  background-color: transparent;
  border: 0;
  cursor: pointer;
}
.close::before,
.close::after {
  content: "";
  position: absolute;
  top: 20px;
  left: -45px;
  width: 19px;
  height: 3px;
  background-color: #fdf30d;
}
.close:hover::before,
.close:hover::after,
.close:focus::before,
.close:focus::after {
  background-color: #68E5F7;
}
.close::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.close::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.breadcrumb {
  display: flex;
  position: relative;
  margin: 0;
  padding: 0;
  font-family: 'Vollkorn', Garamond, serif;
  font-weight: bold;
  list-style: none;
}
.breadcrumb__item {
  position: relative;
  margin-left: 25px;
}
.breadcrumb__item::before {
  content: "";
  position: absolute;
  top: 7px;
  left: -15px;
  width: 8px;
  height: 8px;
  background-color: #1a172a;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.breadcrumb__item:first-child::before {
  display: none;
}
.breadcrumb__item--current {
  color: #d3d0ce;
}
.breadcrumb__link {
  color: #000000;
}
.breadcrumb__link:hover,
.breadcrumb__link:focus {
  text-decoration: underline;
}
.page {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.container {
  width: 1100px;
  margin: 0 auto;
  padding: 0 50px;
}
.background-header {
  background-image: url(../img/top.jpg);
  background-size: 100%;
  position: absolute;
  z-index: -100;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
}
.page-header {
  flex: 0 0 auto;
  width: 100%;
  margin-bottom: 130px;
  padding-top: 30px;
  background-size: cover;
}
.page-header__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.page-header__logo,
.page-header__logo-image {
  width: 164px;
}
.user-navigation {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 385px;
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: right;
}
.user-navigation__item--bottom {
  margin-top: 30px;
}
.user-navigation__link {
  position: relative;
  z-index: 2;
  display: inline-block;
  padding: 10px 15px;
  font-size: 20px;
  color: #fdf30d;
  background-color: rgba(46, 41, 75, 0.5);
  border: 1px solid #ffffff;
  border-radius: 6px;
  -webkit-perspective: 500px;
          perspective: 500px;
  transition: 0.3s;
}
.user-navigation__link:before {
  content: "";
  position: absolute;
  z-index: -2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #1a172a;
  -webkit-transform-origin: right;
          transform-origin: right;
  transition: 0.3s;
}
.user-navigation__link:hover,
.user-navigation__link:focus {
  color: #68E5F7;
}
.user-navigation__link:hover:before {
  -webkit-transform: rotateY(92deg);
          transform: rotateY(92deg);
  outline: none;
}
.page-navigation {
  width: 980px;
  margin: 0 auto;
  font-family: 'Benguiat Rus', Garamond, serif;
  font-weight: bold;
  font-size: 22px;
  line-height: 30px;
  color: #ffffff;
}
.page-navigation__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
}
.page-navigation__item {
  flex-grow: 1;
  min-width: 120px;
  margin-bottom: 0px;
  padding-right: 29px;
  /* margin-right: 30px; */
  text-align: center;
}
.page-navigation__link {
  display: block;
  padding: 10px 15px;
  color: #000000;
}
.page-navigation__link--current {
  color: #ffffff;
}
/* Градиент меню */
.page-navigation__link {
  background: linear-gradient(45deg, #c2edb0, #97d1b3, #77bab4);
}
.page-navigation__link--green {
  background: linear-gradient(45deg, #daec92, #aecc82, #95b97b);
}
.page-navigation__link--yellow {
  background: linear-gradient(45deg, #eada8b, #c9b383, #b49a7b);
}
.page-navigation__link--peach {
  background: linear-gradient(45deg, #e6b68e, #c08184, #ac657e);
}
.page-navigation__link--lilac {
  background: linear-gradient(45deg, #f8c6c5, #cb8cc7, #b26cc8);
}
.page-navigation__link--purple {
  background: linear-gradient(45deg, #d4c1c2, #a28fbd, #7964b9);
}
/* Градиент меню активное состояние*/
.page-navigation__link:hover,
.page-navigation__link:focus,
.page-navigation__link:active {
  background: linear-gradient(45deg, #bcfca1, #81e7b2, #58d9cd);
}
.page-navigation__link--green:hover,
.page-navigation__link--green:focus,
.page-navigation__link--green:active {
  background: linear-gradient(45deg, #e5ff7f, #b3e668, #b3e668);
}
.page-navigation__link--yellow:hover,
.page-navigation__link--yellow:focus,
.page-navigation__link--yellow:active {
  background: linear-gradient(45deg, #ffe876, #e4bd68, #d39d5c);
}
.page-navigation__link--peach:hover,
.page-navigation__link--peach:focus,
.page-navigation__link--peach:active {
  background: linear-gradient(45deg, #fbb479, #dc656a, #d04173);
}
.page-navigation__link--lilac:hover,
.page-navigation__link--lilac:focus,
.page-navigation__link--lilac:active {
  background: linear-gradient(45deg, #ffbfbe, #e473dd, #c24ee6);
}
.page-navigation__link--purple:hover,
.page-navigation__link--purple:focus,
.page-navigation__link--purple:active {
  background: linear-gradient(45deg, #e4b1b4, #9d74d8, #6842db);
}
.page-main {
  flex: 1 0 auto;
  justify-content: center;
  align-self: center;
}
.page-main__breadcrumb {
  margin-bottom: 48px;
}
.page-main__label {
  color: #4b2f69;
}
.page-main__head {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.page-main__head--set {
  margin-bottom: 70px;
}
.page-main__attention {
  margin-top: 24px;
}
.substrate {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  padding: 35px 30px 50px 30px;
  background-color: #ffffff;
  /* background-color: rgba(255, 255, 255, 0.6); */
}
.page-description {
  margin: 1.5rem 0px;
  padding: 0 20px;
  text-align: justify;
  text-indent: 44px;
}
.page-description--welcome {
  text-indent: 0;
}
.page-description--flex {
  margin-top: 0;
}
.page-description__spoiler {
  position: relative;
  margin-left: 35px;
  text-align: justify;
}
.search-block {
  order: -1;
  margin-left: auto;
  position: relative;
}
.search-block__icon {
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 50px;
  height: 50px;
  background: #1a172a;
  border-radius: 50%;
  transition: all 1s;
  z-index: 4;
  box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.4);
}
.search-block__icon:hover {
  cursor: pointer;
}
.search-block__icon::before {
  content: "";
  position: absolute;
  margin: auto;
  top: 22px;
  right: 0;
  bottom: 0;
  left: 22px;
  width: 8px;
  height: 2px;
  background: white;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  transition: all 0.5s;
}
.search-block__icon::after {
  content: "";
  position: absolute;
  margin: auto;
  top: -5px;
  right: 0;
  bottom: 0;
  left: -5px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 2px solid white;
  transition: all 0.5s;
}
.search-block__input {
  font-family: 'Vollkorn';
  position: relative;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 40px;
  height: 40px;
  outline: none;
  border: none;
  background: #1a172a;
  color: #fdf30d;
  text-shadow: 0 0 10px #fdf30d;
  padding: 0 40px 0 20px;
  border-radius: 30px;
  box-shadow: 0 0 25px 0 #fdf30d, 0 20px 25px 0 rgba(0, 0, 0, 0.2);
  transition: all 1s;
  opacity: 0;
  z-index: 5;
  font-weight: bolder;
  letter-spacing: 0.1em;
}
.search-block__input:hover {
  cursor: pointer;
}
.search-block__input:focus {
  width: 200px;
  opacity: 1;
  cursor: text;
}
.search-block__input:focus ~ .search-block__icon {
  right: -250px;
  background: #fdf30d;
  z-index: 6;
}
.search-block__input:focus ~ .search-block__icon::before {
  top: 0;
  left: 0;
  width: 25px;
}
.search-block__input:focus ~ .search-block__icon::after {
  top: 0;
  left: 0;
  width: 25px;
  height: 2px;
  border: none;
  background: white;
  border-radius: 0%;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.search-block__input::-webkit-input-placeholder {
  color: white;
  opacity: 0.5;
  font-weight: bolder;
}
.search-block__input:-ms-input-placeholder {
  color: white;
  opacity: 0.5;
  font-weight: bolder;
}
.search-block__input::-ms-input-placeholder {
  color: white;
  opacity: 0.5;
  font-weight: bolder;
}
.search-block__input::placeholder {
  color: white;
  opacity: 0.5;
  font-weight: bolder;
}
.spoiler::before {
  content: "";
  top: 4px;
  left: -20px;
  position: absolute;
  background: url("../img/works-catalog/arrowx.svg") no-repeat 50% 50% 1em;
  width: 16px;
  height: 16px;
  transition: -webkit-transform 0.1s linear;
  transition: transform 0.1s linear;
  transition: transform 0.1s linear, -webkit-transform 0.1s linear;
  -webkit-transition: transform 0.1s linear;
}
.spoiler[open]::before {
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
}
.spoiler__wrapper {
  margin-top: 10px;
  padding-left: 15px;
  padding-right: 15px;
  border: 2px solid #95b97b;
  border-radius: 10px;
}
.spoiler__title {
  color: #95b97b;
  outline: none;
  cursor: pointer;
}
.spoiler__title::-webkit-details-marker {
  display: none;
}
.spoiler__title::-moz-list-bullet {
  list-style-type: none;
}
.spoiler__title:hover {
  color: #b3e668;
}
.spoiler__note:hover {
  border-bottom: 1px solid #b3e668;
}
.spoiler__text {
  margin: 15px 0;
}
.spoiler__text:first-child {
  margin-top: 10px;
}
.pagination {
  display: flex;
  flex-wrap: wrap;
  width: 200px;
  margin: 0;
  margin-right: 30px;
  margin-left: auto;
  padding: 0;
  list-style: none;
}
.pagination__wrapper {
  display: flex;
  flex-wrap: wrap;
  margin-right: -20px;
}
.pagination__item {
  box-sizing: border-box;
  margin-left: 20px;
  margin-bottom: 14px;
  border-radius: 50%;
}
.pagination__link {
  padding: 5px 10px;
  color: #ffffff;
  border-radius: 4px;
  background-color: #1a172a;
}
.pagination__link:hover,
.pagination__link:focus,
.pagination__link:active {
  background-color: #8d84bc;
}
.pagination__link--current {
  box-sizing: border-box;
  color: #1a172a;
  background-color: #fdf30d;
  border: 1px solid #1a172a;
}
.pagination__link--current:hover,
.pagination__link--current:focus,
.pagination__link--current:active {
  color: #1a172a;
  background-color: #d5cc02;
}
.page-footer {
  flex: 0 0 auto;
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
  padding: 0 30px;
  padding-top: 50px;
  color: #fdf30d;
}
.page-footer__link {
  color: #fdf30d;
}
.footer-navigation {
  width: 168px;
  font-family: 'Vollkorn', Garamond, serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 27px;
}
.footer-navigation__list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.footer-navigation__link {
  color: rgba(253, 243, 13, 0.4);
}
.footer-navigation__link:hover,
.footer-navigation__link:focus {
  color: #fdf30d;
}
.footer-navigation__link--current,
.footer-navigation__link--current:hover,
.footer-navigation__link:active {
  color: #ffffff;
}
.copyright {
  width: 260px;
  margin: 0;
  text-align: center;
}
.copyright__developers {
  color: rgba(255, 255, 255, 0.4);
  letter-spacing: 2px;
}
.copyright__reserved {
  letter-spacing: 2px;
}
.footer-social {
  width: 211px;
}
.footer-social__title {
  display: block;
  margin-bottom: 24px;
  color: rgba(255, 255, 255, 0.4);
  letter-spacing: 2px;
}
.footer-social__list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}
.footer-social__icon-color {
  fill: rgba(253, 243, 13, 0.4);
}
.footer-social__icon-color:hover {
  fill: #fdf30d;
}
.footer-social__item {
  margin-right: 20px;
}
.footer-social__item:last-child {
  margin-right: 0px;
}
.works--bg-blue {
  background-color: #2e294b;
}
.works__wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 835px;
  margin: 0 auto;
  margin-bottom: 70px;
  list-style: none;
}
.works__wrapper--album {
  margin-bottom: 0;
}
.works__title {
  margin: 0;
  margin-top: 24px;
  margin-bottom: 24px;
  font-family: 'Cormorant Infant Bold', serif;
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 1.5;
  text-align: center;
}
.works__title--mt {
  margin-top: 48px;
}
.works__title--album {
  color: #d39d5c;
}
.works__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 264px;
  margin: 0;
  margin-right: 20px;
  text-align: center;
}
.works__item--pb {
  padding-bottom: 20px;
}
.works__item:nth-child(3n) {
  margin-right: 0;
}
.works__image {
  width: 258px;
  height: 353px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
  border: 3px solid #f7f1f1;
  border-radius: 4px;
}
.works__image:hover,
.works__image:focus {
  -webkit-animation-name: hoverWorks;
          animation-name: hoverWorks;
  -webkit-animation-duration: 0.6s;
          animation-duration: 0.6s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
.works__description {
  margin: 24px 0;
  text-align: justify;
}
.works__description--album {
  color: #b49a7b;
}
.works__button {
  margin-top: auto;
}
.works__button--album {
  color: #d39d5c;
}
.clearfix {
  display: inline-block;
}
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.news__list {
  width: 835px;
  margin: 0 auto;
  margin-bottom: 70px;
  list-style: none;
}
.news__text {
  margin: 0;
  margin-bottom: 24px;
}
.news__picture {
  float: left;
  margin-right: 20px;
  border: 2px solid #ffffff;
  border-radius: 4px;
}
.news__item {
  margin-bottom: 20px;
}
.album-slider__container {
  position: relative;
  width: 800px;
  margin: 0 auto;
}
.album-slider__content {
  position: relative;
  width: 800px;
  height: 600px;
  margin: 0 auto;
  margin-bottom: 170px;
}
.album-slider__title {
  color: #d39d5c;
}
.album-slider__content-img {
  display: block;
  margin: 0 auto;
  background-size: cover;
  max-height: 650px;
}
/* Чтобы высота подложки рисунков была больше самих рисунков */
.album-slider__content .slick-track {
  height: 800px;
}
/* Чтобы подложки рисунков были синими */
.slick-track {
  background-color: #2e294b;
}
/* Стилизация маленьких картинок превью */
.album-slider__nav-img {
  background-size: cover;
}
.album-slider__nav-item {
  display: block;
  width: 150px;
  height: 150px;
  margin: 0 auto;
  outline: none;
}
/* Кнопки назад и вперед у большого слайдера */
.album-slider__prev,
.album-slider__next {
  position: absolute;
  top: 60%;
  z-index: 100;
  width: 50px;
  height: 100px;
  background-color: #1a172a;
  border: none;
  cursor: pointer;
}
.album-slider__prev:focus,
.album-slider__next:focus {
  outline: none;
}
.album-slider__prev::before,
.album-slider__next::before {
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  border-right: 3px solid #b49a7b;
  border-bottom: 3px solid #b49a7b;
}
.album-slider__prev:hover::before,
.album-slider__next:hover::before {
  border-right-color: #d39d5c;
  border-bottom-color: #d39d5c;
}
.album-slider__next {
  right: -63px;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
}
.album-slider__next::before {
  top: 32px;
  left: -1px;
  -webkit-transform: rotate(-46deg);
          transform: rotate(-46deg);
}
.album-slider__prev {
  left: -63px;
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
}
.album-slider__prev::before {
  top: 32px;
  left: 20px;
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}
/* Кнопки-стрелки навигации панели превью (не кастомизированные) */
.slick-prev:before,
.slick-next:before {
  color: #d39d5c;
}
/* Цвета состоания покоя, ховера и активного для точек дотс под слайдером */
.slick-dots li button::before {
  color: #d39d5c;
}
.slick-dots li.slick-active button:before {
  opacity: 0.75;
  color: #d39d5c;
}
/* Стилизация количества слайдов */
.album-slider__count {
  position: absolute;
  bottom: 43px;
  left: 50%;
  margin-left: -34px;
  z-index: 100;
  font-family: 'Cormorant Infant Bold';
  font-size: 1.5rem;
  color: #b49a7b;
}
.filters__title {
  font-size: 20px;
}
.filters__note {
  margin: 1.5rem 0px;
  color: #000000;
}
.filter {
  width: 900px;
  margin: 0 auto;
  margin-bottom: 25px;
  margin-top: 50px;
}
.filter__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.filter__wrapper-gallery {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
}
.filter__fieldset {
  width: auto;
  margin: 0;
  padding: 0;
  margin-bottom: 30px;
  border: none;
}
.filter__fieldset--gallery {
  margin-bottom: 50px;
}
.filter__title {
  font-family: 'Cormorant Infant Bold', serif;
  font-weight: bold;
  font-size: 20px;
}
.filter__list {
  margin: 0;
  padding: 0;
  list-style: none;
  line-height: 18px;
}
.filter__list--center {
  width: 830px;
  margin: 0 auto;
}
.filter__item-gallery {
  margin-left: 30px;
}
.filter__button {
  position: relative;
  z-index: 10;
  display: block;
  box-sizing: border-box;
  width: 142px;
  padding: 10px 20px;
  font-family: 'Cormorant Infant Rg', serif;
  font-size: 20px;
  font-weight: bold;
  color: #1a172a;
  background-color: transparent;
  border: 2px solid #1a172a;
  -o-border-image: linear-gradient(180deg, #000000, #000000, #1a172a, #1a172a);
     border-image: linear-gradient(180deg, #000000, #000000, #1a172a, #1a172a);
  border-image-slice: 1;
  cursor: pointer;
}
.filter__button--center {
  margin: 0 auto;
  text-align: center;
}
.filter__button::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 0;
  z-index: -1;
  background: linear-gradient(180deg, rgba(253, 243, 13, 0.5), rgba(253, 243, 13, 0.5), rgba(26, 23, 42, 0.5), rgba(0, 0, 0, 0.8));
  transition: 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.filter__button:hover {
  color: #1a172a;
}
.filter__button:active {
  color: #ffffff;
}
.filter__button:hover::before {
  bottom: 0;
  top: auto;
  height: 100%;
}
.tab__title {
  letter-spacing: 3px;
  color: #1a172a;
}
.tab__list {
  list-style: none;
  -webkit-perspective: 900;
          perspective: 900;
  padding: 0;
  margin: 0;
}
.tab__item {
  position: relative;
  padding: 0;
  padding-left: 60px;
  padding-right: 15px;
  margin: 0;
  padding-bottom: 4px;
  padding-top: 18px;
  border-top: 1px solid rgba(162, 143, 189, 0.5);
}
.tab__item:nth-of-type(1) {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}
.tab__item:nth-of-type(2) {
  -webkit-animation-delay: 0.75s;
          animation-delay: 0.75s;
}
.tab__item:nth-of-type(3) {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}
.tab__item:last-of-type {
  padding-bottom: 0;
}
.tab__checkbox {
  position: absolute;
  cursor: pointer;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
}
.tab__checkbox:checked ~ .tab__text {
  margin-top: 0;
  max-height: 0;
  opacity: 0;
  -webkit-transform: translate(0, 50%);
          transform: translate(0, 50%);
}
.tab__checkbox:checked ~ .tab__arrow:before {
  -webkit-transform: translate(2px, 0) rotate(45deg);
          transform: translate(2px, 0) rotate(45deg);
}
.tab__checkbox:checked ~ .tab__arrow:after {
  -webkit-transform: translate(-2px, 0) rotate(-45deg);
          transform: translate(-2px, 0) rotate(-45deg);
}
.tab__arrow {
  position: absolute;
  -webkit-transform: translate(-6px, 0);
          transform: translate(-6px, 0);
  margin-top: 16px;
  right: 0;
}
.tab__arrow:before,
.tab__arrow:after {
  content: "";
  position: absolute;
  background-color: #1a172a;
  width: 3px;
  height: 9px;
}
.tab__arrow:before {
  -webkit-transform: translate(-2px, 0) rotate(45deg);
          transform: translate(-2px, 0) rotate(45deg);
}
.tab__arrow:after {
  -webkit-transform: translate(2px, 0) rotate(-45deg);
          transform: translate(2px, 0) rotate(-45deg);
}
.tab__subtitle {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-family: 'Cormorant Infant Rg', serif;
  font-size: 1.44rem;
  line-height: 1.5;
  font-weight: 300;
  color: rgba(26, 23, 42, 0.8);
  letter-spacing: 1px;
  display: block;
  background-color: #fefffa;
  margin: 0;
  cursor: pointer;
}
.tab__text {
  color: rgba(48, 69, 92, 0.8);
  font-size: 1.2rem;
  line-height: 26px;
  letter-spacing: 1px;
  position: relative;
  overflow: hidden;
  max-height: 800px;
  opacity: 1;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  margin: 24px 0;
  z-index: 2;
}
.tab__text,
.tab__arrow:before,
.tab__arrow:after {
  transition: all 0.5s ease-in-out;
}
.flipIn,
.tab__title,
.tab__item {
  -webkit-animation: flipdown 1s ease both;
          animation: flipdown 1s ease both;
}
.about-content:nth-child(2) {
  margin-top: 24px;
}
.about-content__text {
  margin: 0;
  margin: 1.5rem auto;
  padding: 0 57px;
  text-align: justify;
  text-indent: 2.75em;
}
.about-content__text--right {
  margin: 1.875em 0;
  font-weight: bold;
  color: #ac657e;
  text-align: right;
}
.about-content__text--PS {
  margin-bottom: 4.375em;
  text-indent: 0px;
}
/* .about__text--first {
	margin-top: 24px;
} */
.about-content__photo {
  float: left;
  margin: 10px;
  margin-left: 59px;
  margin-right: 30px;
}
.about-content__photo--right {
  float: right;
  margin-right: 59px;
  margin-left: 30px;
}
.about-content__photo-image--border {
  border: 3px solid #1a172a;
  border-radius: 5px;
}
.about-content__caption {
  font-style: italic;
  color: #000000;
  text-align: center;
}
.index-columns {
  display: flex;
  justify-content: space-around;
}
.index-columns--border {
  border: 3px solid rgba(172, 101, 126, 0.4);
  border-radius: 10px;
}
.feedback {
  width: 370px;
  padding-bottom: 20px;
}
.feedback__description {
  margin: 24px 0;
  text-align: justify;
}
.feedback__name,
.feedback__email,
.feedback__massage {
  width: 370px;
  padding-right: 15px;
}
.feedback__massage {
  height: 230px;
}
.feedback__button {
  display: block;
  box-sizing: border-box;
  width: 180px;
  margin: 0 auto;
  padding: 10px 10px;
  border: none;
  font-family: 'Vollkorn';
  background: transparent;
  cursor: pointer;
}
.about-social {
  width: 370px;
}
.about-social__description {
  margin: 24px 0;
}
.popup__photo {
  display: none;
  position: fixed;
  z-index: 6;
  top: 10%;
  left: 50%;
  margin-left: -250px;
}
.popup__image--round {
  border-radius: 155px;
}
.reviews__form {
  width: 760px;
  margin: 0 auto;
  margin-bottom: 70px;
  padding: 35px 60px;
  border: 3px solid rgba(26, 23, 42, 0.4);
  border-radius: 10px;
}
.reviews__form-wrapper {
  display: flex;
  justify-content: space-between;
}
.reviews__input {
  width: 365px;
}
.reviews__massage {
  width: 760px;
  height: 160px;
  margin-bottom: 30px;
}
.reviews__list {
  display: flex;
  flex-direction: column;
}
.reviews__item {
  margin: 0;
  margin-bottom: 24px;
  background: #68E5F7;
  background-color: rgba(26, 23, 42, 0.9);
  color: #ffffff;
  padding: 30px 30px 30px 90px;
  position: relative;
  border-radius: 10px;
  box-shadow: 0px 6px 5px 0px rgba(0, 0, 0, 0.3);
  text-align: justify;
}
.reviews__item::before {
  content: "\201C";
  font-family: serif;
  position: absolute;
  top: 20px;
  left: 16px;
  color: black;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: white;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  line-height: 50px;
}
.reviews__item:after {
  content: "";
  width: 4px;
  background: #ffffff;
  position: absolute;
  left: 70px;
  top: 20px;
  bottom: 20px;
}
.reviews__author-name {
  margin-bottom: 10px;
  font-family: 'Vollkorn';
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
}
.reviews__time {
  color: rgba(255, 255, 255, 0.5);
}
.reviews__author-picture {
  /* order: 3; */
  width: 50px;
  border-radius: 50%;
}
.reviews__author-image {
  float: left;
  margin-right: 20px;
  border: 1px solid #ffffff;
  border-radius: 50%;
}
.reviews__text {
  margin: 0;
  font-size: 20px;
  font-weight: 300;
}
.contents {
  display: block;
  position: relative;
  width: 500px;
  height: 800px;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-image: url("../img/manga/00 - Оглавление2.jpg");
  background-size: contain;
}
.contents__wrapper {
  position: absolute;
  top: 38%;
  -webkit-transform: rotate(-5deg);
          transform: rotate(-5deg);
}
.contents__title {
  margin: 0;
  margin-left: 35px;
  font-family: 'Vollkorn';
  font-size: 2rem;
  line-height: 24px;
}
.contents__underline {
  border-bottom: 1px solid #000000;
}
.contents__list {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-left: 35px;
}
.contents__item {
  margin-bottom: 10px;
}
.contents__link {
  font-family: 'Cormorant Infant Bold';
  font-size: 1.5rem;
  color: #1a172a;
}
.contents__link:hover,
.contents__link:focus {
  color: #39325b;
  text-decoration: underline;
}
.contents__link:active {
  text-decoration: none;
}
.contents__link--disabled {
  color: #808080;
  cursor: default;
}
.contents__link--disabled:hover {
  color: #808080;
  text-decoration: none;
}
.fotorama {
  width: 800px;
  margin: 0 auto;
}
.fotorama__img {
  width: 800px;
}
.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  height: 100%;
  width: 100%;
}
.overlay--dark {
  background-color: rgba(0, 0, 0, 0.5);
}
@-webkit-keyframes shrink-bounce {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  33% {
    -webkit-transform: scale(0.85);
            transform: scale(0.85);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes shrink-bounce {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  33% {
    -webkit-transform: scale(0.85);
            transform: scale(0.85);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@-webkit-keyframes checkbox-check {
  0% {
    width: 0;
    height: 0;
    border-color: #212121;
    -webkit-transform: translate3d(0, 0, 0) rotate(45deg);
            transform: translate3d(0, 0, 0) rotate(45deg);
  }
  33% {
    width: 0.2em;
    height: 0;
    -webkit-transform: translate3d(0, 0, 0) rotate(45deg);
            transform: translate3d(0, 0, 0) rotate(45deg);
  }
  100% {
    width: 0.2em;
    height: 0.5em;
    border-color: #212121;
    -webkit-transform: translate3d(0, -0.5em, 0) rotate(45deg);
            transform: translate3d(0, -0.5em, 0) rotate(45deg);
  }
}
@keyframes checkbox-check {
  0% {
    width: 0;
    height: 0;
    border-color: #212121;
    -webkit-transform: translate3d(0, 0, 0) rotate(45deg);
            transform: translate3d(0, 0, 0) rotate(45deg);
  }
  33% {
    width: 0.2em;
    height: 0;
    -webkit-transform: translate3d(0, 0, 0) rotate(45deg);
            transform: translate3d(0, 0, 0) rotate(45deg);
  }
  100% {
    width: 0.2em;
    height: 0.5em;
    border-color: #212121;
    -webkit-transform: translate3d(0, -0.5em, 0) rotate(45deg);
            transform: translate3d(0, -0.5em, 0) rotate(45deg);
  }
}
@-webkit-keyframes hoverWorks {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
  }
  10% {
    box-shadow: 9px 9px 9px rgba(0, 0, 0, 0.3);
  }
  20% {
    box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.3);
  }
  30% {
    box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.3);
  }
  40% {
    box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.3);
  }
  50% {
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
  }
  60% {
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.3);
  }
  70% {
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
  }
  80% {
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
  }
  90% {
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  }
  100% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.3);
  }
}
@keyframes hoverWorks {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
  }
  10% {
    box-shadow: 9px 9px 9px rgba(0, 0, 0, 0.3);
  }
  20% {
    box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.3);
  }
  30% {
    box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.3);
  }
  40% {
    box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.3);
  }
  50% {
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
  }
  60% {
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.3);
  }
  70% {
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
  }
  80% {
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
  }
  90% {
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  }
  100% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.3);
  }
}
@-webkit-keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@-webkit-keyframes fadeOutDown {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
}
@keyframes fadeOutDown {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
}
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes flipdown {
  0% {
    opacity: 0;
    -webkit-transform-origin: top center;
            transform-origin: top center;
    -webkit-transform: rotateX(-90deg);
            transform: rotateX(-90deg);
  }
  5% {
    opacity: 1;
  }
  80% {
    -webkit-transform: rotateX(8deg);
            transform: rotateX(8deg);
  }
  83% {
    -webkit-transform: rotateX(6deg);
            transform: rotateX(6deg);
  }
  92% {
    -webkit-transform: rotateX(-3deg);
            transform: rotateX(-3deg);
  }
  100% {
    -webkit-transform-origin: top center;
            transform-origin: top center;
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
  }
}
@keyframes flipdown {
  0% {
    opacity: 0;
    -webkit-transform-origin: top center;
            transform-origin: top center;
    -webkit-transform: rotateX(-90deg);
            transform: rotateX(-90deg);
  }
  5% {
    opacity: 1;
  }
  80% {
    -webkit-transform: rotateX(8deg);
            transform: rotateX(8deg);
  }
  83% {
    -webkit-transform: rotateX(6deg);
            transform: rotateX(6deg);
  }
  92% {
    -webkit-transform: rotateX(-3deg);
            transform: rotateX(-3deg);
  }
  100% {
    -webkit-transform-origin: top center;
            transform-origin: top center;
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
  }
}
.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
.fadeOutDown {
  -webkit-animation-name: fadeOutDown;
  animation-name: fadeOutDown;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
.login {
  width: 460px;
  margin: 0 auto;
  color: #fdf30d;
  background-color: #1a172a;
  border: 1px solid #000000;
}
.login__reg,
.login__log {
  display: none;
  position: fixed;
  top: 120px;
  left: 50%;
  z-index: 6;
  margin-left: -210px;
}
.login__input {
  margin: 0 auto;
}
.login__info {
  display: flex;
  justify-content: space-between;
  width: 340px;
  margin: 0 auto;
  margin-bottom: 48px;
}
.login__info--start {
  justify-content: flex-start;
  width: 300px;
}
.login__info-checkbox + .login__checkbox-name {
  color: #fdf30d;
}
.login__info-checkbox + .login__checkbox-name > .login__checkbox-indicator {
  /* background-color: #fff; */
  border-color: #fdf30d;
}
.login__info-checkbox:checked + .login__checkbox-name > .login__checkbox-indicator {
  background: #ffffff;
}
.login__info-checkbox + .login__checkbox-name:hover,
.login__info-checkbox:focus + .login__checkbox-name,
.login__info-checkbox:checked + .login__checkbox-name {
  color: #ffffff;
}
.login__restore {
  color: #fdf30d;
  text-decoration: underline;
}
.login__restore:hover,
.login__restore:focus {
  color: #ffffff;
  text-decoration: none;
}
.login__button {
  display: block;
  box-sizing: border-box;
  width: 180px;
  margin: 0 auto;
  margin-bottom: 40px;
  padding: 10px 10px;
  border: none;
  font-family: 'Benguiat Rus';
  color: #fdf30d;
  background: transparent;
  cursor: pointer;
}
.login__button:hover {
  color: #1a172a;
}
.login__button:before {
  border-color: #fdf30d;
}
.login__button:hover::after {
  background: #fdf30d;
}
.modal-show {
  display: block;
  -webkit-animation-name: fadeInDown;
          animation-name: fadeInDown;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}
.modal-show--fadeIn {
  display: block;
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
  -webkit-animation-duration: 0.8s;
          animation-duration: 0.8s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
.login__text {
  margin-top: 24px;
  margin-bottom: 60px;
  font-family: 'Vollkorn';
  text-align: center;
}
.login__link-to-reg {
  color: #77bab4;
}
.login__link-to-reg:hover {
  text-decoration: underline;
}
